.card {
    max-width: 100%;
    width: 200px;
    background-color: #f4f5fb;
    margin-right: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
}

.header {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #334151;
    text-transform: capitalize;
}

.subTitle {
    font-size: 16px;
    font-weight: bold;
    color: #334151;
    margin-left: 10px;
}

.cardDataWrapper {
    background-color: white;
    margin: 10px 0px;
    padding: 15px;
    width: 100%;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
}

.cardDataWrapper:last-of-type {
    margin-bottom: 20px;
}

.cardHeader {
    font-size: 12px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader .invoiceNumber {
    width: 70%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1em;
    max-height: 2em;
}
.cardHeader .detailsAndIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -4px;
}
.cardHeader .exclamationIcon {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.status {
    display: flex;
    padding: 5px 5px;
    font-size: 14px;
    color: white;
    justify-content: center;
    align-items: center;
}

.cardDetails {
    margin-top: 20px;
}

.cardStatus {
    float: right;
    text-align: center;
    padding: 0 5px;
    border-radius: 0.25em;
}

.cardDetailsItem {
    color: gray;
    font-size: 12px;
}

.cardDetailsItemLabel {
    width: 100px;
    display: inline-flex;
    justify-content: space-between;
}

.cardDetailsItemLabel::after {
    content: ':\00a0';
}

.cardBayDetails {
    width: 115px;
    display: inline-flex;
    justify-content: space-between;
}

.cardBayDetails::after {
    content: ':\00a0';
}

option {
    float: right;
    text-decoration: underline;
}

option:hover {
    color: blue;
    cursor: pointer;
}

.floatRight {
    float: right
}

@keyframes statusDropDown {
    from { height: 0; }
    to   { height: 337px; }
}
.statusOptions {
    width: 100%;
    z-index: 1;
}

.repliesDiv {
    margin-right: 0px;
    margin-left: 50px;
    margin-top: 5px;
}

.scrollable {
    overflow-y: scroll;
    height: 200px;
}

.inputField {
    border-radius: 0px !important;
}

.commentReplyIcon {
    color: gray;
    font-size: 12px;
    margin: 5px 0 50px !important;
}

.commentReplyIcon:hover {
    cursor: pointer;
}