.status {
    display: flex;
    /* padding: 10px 5px; */
    font-size: 14px;
    color: white;
    justify-content: center;
    align-items: center;
}

.lineItemTable td {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    height: 30px;
}
.lineItemTable th {
    font-size: 12px;
}
