.contentContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 130px;
}

.headerContainer {
    position: fixed;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF1F9;
    z-index: 10;
    margin-left: -40px;
}

.headerActions {
    font-size: 22px;
    margin-right: 80px;
}

.headerActions span {
    margin-right: 15px;
    cursor: pointer;
}

.headerActions span:last-of-type {
    margin-right: 0px;
}

.statusWrapper {
    width: 155px;
    text-align: center;
}

.expandedComponentWrapper {
    height: 50px;
    margin-top: 5px;
    padding: 0px 15px;
    background-color: white;
}

.expandedComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px;
    height: 100%;
}

.kanbanComponentWrapper {
    display: flex;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    /* height: 1.5em; */
    /* line-height: 2; */
    background: #4fa2c9;
    overflow: hidden;
    border-radius: .25em;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}
.select:hover::after {
    color: #23b499;
}

.repliesDiv{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;
}

.floatRight{
    float: right;
}

.replyButtonDiv{
    display: flex; 
    justify-content: flex-end
}

.customCalendar {
    cursor: pointer;
    padding: 5px 15px;
    border: 0;
    border-radius: 4px;
    background-color: #216ba5;
    font: inherit;
    color: #fff;
    overflow-y: auto;
}

.newContentContainer {
    width: 100%;
    margin-top: 70px;
}