.contentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.headerContainer {
    margin-bottom: 35px;
}

.fieldItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 20px;
}

.buttonContainer button {
    margin-right: 20px !important;
}

.buttonContainer button:last-of-type {
    margin-right: 0px !important;
}

.spinner {
    margin: 150px 550px;
}